.about-page{
    margin: 2rem;

    .about-section{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        align-items: center;
    }
    
    .about-image{
        max-width: 17rem;
        max-height: 15rem;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .about-text{
        margin-top: 1rem;
    }
}

/////// DESKTOP ///////
@media screen and (min-width : 900px) {
    .about-page{
    
        .about-section{
            display: flex;
            flex-wrap: nowrap;
        }
    
        .about-text{
            margin-left: 3rem;
        }
    }
    .about-page .reverse-row{
        flex-direction: row-reverse;

        .about-text{
            margin-left: 0;
            margin-right: 3rem;
        }
    }
    
}