@import "../../scss/graphical_charter.scss";

.about-page{
    margin: 2rem;

    .about-section{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .about-title{
            margin-bottom: 1rem;
            font-size: 2rem;
            color: $brown;
        }

        .about-content{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .about-image{
            max-width: 12rem;
            max-height: 12rem;
            margin-bottom: 1rem;
    
            img{
                width: 100%;
                height: 100%;
            }
    
            svg{
                width: 12rem;
                fill: $brown; 
            }
        }
    
        .about-text{
            margin-top: 1rem;
        }
    }

    .about-section:not(.about-section:first-child)
    {
        border-top: 1px solid $orange;
    }
}

/////// DESKTOP ///////
@media screen and (min-width : 900px) {
    .about-page{
        margin: 3rem 10rem;
    
        .about-section{
        
            .about-content{
                flex-wrap: nowrap;
                justify-content: space-between;
                flex-direction: row;
                width: 100%;
            }

            .about-content.about-content-technology{
                display: flex;
                justify-content: space-between;
                width: 100%;
                flex-wrap: wrap;
            }

            .about-image{
                margin-right: 1rem;
            }
        
            .about-text{
                margin-left: 3rem;
            }

            .about-content.reverse-row{
                flex-direction: row-reverse;
        
                .about-text{
                    margin-left: 0;
                    margin-right: 3rem;
                }
            }
        }
    }
}