@page "/about"

<div class="about-page">
    <div class="about-section">
        <div class="about-image"><img src="./images/assessFirst.png"></div>
        <div class="about-text">Parfois les mots ne suffisent pas, cliquez <a
                href="http://app.assessfirst.com/_/profile/up8p5mty-brendan-giraudet">ici</a> pour decouvrir qui je suis
        </div>
    </div>
    <div class="about-section reverse-row">
        <div class="about-image">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#000000">
                <path
                    d="M14,2H6C4.9,2,4,2.9,4,4v16c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V8L14,2z M12,10c1.1,0,2,0.9,2,2c0,1.1-0.9,2-2,2s-2-0.9-2-2 C10,10.9,10.9,10,12,10z M16,18H8v-0.57c0-0.81,0.48-1.53,1.22-1.85C10.07,15.21,11.01,15,12,15c0.99,0,1.93,0.21,2.78,0.58 C15.52,15.9,16,16.62,16,17.43V18z" />
            </svg>
        </div>
        <div class="about-text">LinkedIn => par <a
                href="https://www.linkedin.com/in/brendan-giraudet-8ab691b2/">ici</a><br />Téléphone : 0762789913
            <br />Email :
            BRENDAN.GIRAUDET1@GMAIL.COM
        </div>
    </div>
    <div class="about-section">
        <div class="about-image"><img src="./images/assessFirst.png"></div>
        <div class="about-text">Blazor, C#, .Net6, XUnit, Postman
        </div>
    </div>
    <div class="about-section reverse-row">
        <div class="about-image">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#000000">
                <path
                    d="M14,2H6C4.9,2,4,2.9,4,4v16c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V8L14,2z M12,10c1.1,0,2,0.9,2,2c0,1.1-0.9,2-2,2s-2-0.9-2-2 C10,10.9,10.9,10,12,10z M16,18H8v-0.57c0-0.81,0.48-1.53,1.22-1.85C10.07,15.21,11.01,15,12,15c0.99,0,1.93,0.21,2.78,0.58 C15.52,15.9,16,16.62,16,17.43V18z" />
            </svg>
        </div>
        <div class="about-text">Derniere experience : EBP Informatique <br /> Développement d'un ensemble d'applications
            aidant les clients et les collaborateurs d'EBP à mettre à jour leurs informations personnelles. Mais aussi a
            sécuriser
        </div>
    </div>
    <div class="about-section">
        <div class="about-image"><img src="./images/assessFirst.png"></div>
        <div class="about-text">Derniers diplomes
        </div>
    </div>
    <div class="about-section reverse-row">
        <div class="about-image">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#000000">
                <path
                    d="M14,2H6C4.9,2,4,2.9,4,4v16c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V8L14,2z M12,10c1.1,0,2,0.9,2,2c0,1.1-0.9,2-2,2s-2-0.9-2-2 C10,10.9,10.9,10,12,10z M16,18H8v-0.57c0-0.81,0.48-1.53,1.22-1.85C10.07,15.21,11.01,15,12,15c0.99,0,1.93,0.21,2.78,0.58 C15.52,15.9,16,16.62,16,17.43V18z" />
            </svg>
        </div>
        <div class="about-text">Derniers certification
        </div>
    </div>
</div>