.menu {
  display: flex;
  align-items: center;
  background-color: #cbb474;
  padding: 1rem;
  border-bottom: 2px solid #9c6611;
}

.icons {
  display: flex;
}

.icon {
  margin-left: 1rem;
}
.icon svg {
  fill: #3a2a00;
  height: 3rem;
  width: 3rem;
}

.logo img {
  width: 9rem;
}

.search-bar, .about-icon {
  display: none;
}

@media screen and (min-width: 600px) {
  .icons {
    display: none;
  }

  .search-bar, .about-icon {
    display: block;
  }
}